doctype html
html
  head
    title Doctor Panel
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous")
    link(rel="stylesheet", href="/stylesheets/style.css")
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
  body.container-fluid
    div(class="d-flex flex-column min-vh-100")
      h2(class="text-center") Doctor Panel
      if (code != 1)
        div(class='alert alert-danger') #{status}
      else
        div.row
          div.col
            h6 MRNo
          div.col 
            h6 Name
          div.col 
            h6 Gender
          div.col 
            h6 Age
          div.col 
            h6 Reason of Visit
          div.col 
            h6 Registeration Date
          div.col
        each patient in data
          div.row
            div.col 
              p #{patient.mrno}
            div.col 
              p #{patient.name}
            div.col 
              p #{patient.gender}
            div.col 
              p #{patient.dob}
            div.col 
              p #{patient.reason_of_visit}
            div.col 
              p #{patient.dor}
            div.col
              div.btn-toolbar
                form(method="get" action="/doctor/panel/edit")
                  button.btn.btn-info.btn-sm(type="submit") 
                    i.fa.fa-pencil 
                      span
                form(method="get" action="/doctor/panel/delete")
                  button.btn.btn-danger.btn-sm(type="submit")
                    i.fa.fa-trash 
                      span
        div.row
          div.col.text-center
            form(method="get" action="/doctor/panel/add")
              button.btn.btn-primary.btn-floating(type="button" data-bs-toggle="modal" data-bs-target="#addPatient")
                i.fa.fa-plus 
                  span
        div.modal.fade(id="addPatient" tabindex="-1" data-bs-backdrop="static" aria-labelledby="addPatientLabel" aria-hidden="true")
          div.modal-dialog.modal-dialog-centered
            div.modal-content
              div.modal-header
                h5.modal-title(id="addPatientLabel") Register Patient
                button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close")
              div.modal-body
                form(id="addPatientForm" method="post" action="/doctor/panel/add" onsubmit="return validateForm()")
                  div.form-group
                    div.row
                      label.col-sm-4.col-form-label(for="patientName") Name
                      div.col-sm-8
                        input.form-control(type="Text" id="patientName" placeholder="Enter patient's name" name="patientName" required)
                    | &nbsp;
                    div.row
                      label.col-sm-4.col-form-label(for="patientGender") Gender
                      div.col-sm-8
                        select.form-control(id="patientGender" name="patientGender" required)
                          option(selected disabled) Select
                          option Male
                          option Female
                    | &nbsp;
                    div.row
                      label.col-sm-4.col-form-label(for="patientReason") Reason of Visit
                      div.col-sm-8
                        select.form-control(id="patientReason" name="patientReason" required)
                          option(selected disabled) Select
                          option  Consultation
                          option Surgery
                          option Investigation
                    | &nbsp;
                    div.row
                      label.col-sm-4.col-form-label(for="patientDoB") Date of Birth
                      div.col-sm-8
                        div.input-group.date(id="patientDoB")
                          input.form-control(type="date" name="patientDoB" value="2000-12-31" required)
                          span.input-group-addon
                          span.fa.fa-time
              div.modal-footer.d-flex.flex-column
                div.btn-toolbar
                  button.btn.btn-primary(type="submit" form="addPatientForm") Add
                  button.btn.btn-danger(type="button" data-bs-dismiss="modal") Close
  script.
    function validateForm() {
      if (document.forms["addPatientForm"]["patientGender"].value == "Select") {
        alert('Please select gender')
        return false;
      }
      if (document.forms["addPatientForm"]["patientReason"].value == "Select") {
        alert('Please select reason of visit')
        return false;
      }
    }